* {
	box-sizing: border-box;
}

html,
body {
<<<<<<< Updated upstream
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
=======
	background: linear-gradient(-45deg, #B913E8,#F213DC,#DB1D69, #F21A13,#E83813);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out infinite;
	overflow: hidden;
	
>>>>>>> Stashed changes
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
	font-family: 'DM Sans', sans-serif;
	transition: background .4s ease-in;
	background-color: #30174d;


}

<<<<<<< Updated upstream
.blue {
	background-color: #428aa6;
}

input[type=radio] {
	display: none;
}

.card {
	position: absolute;
	width: 60%;
	height: 100%;
	left: 0;
	right: 0;
	margin: auto;
	transition: transform .4s ease;
	cursor: pointer;
}

.container {
	width: 100%;
	max-width: 800px;
	max-height: 600px;
	height: 100%;
	transform-style: preserve-3d;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.cards {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}

img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}


#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2{
	transform: translatex(-40%) scale(.8);
	opacity: .4;
	z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
	transform: translatex(40%) scale(.8);
	opacity: .5;
	z-index: 0;
}
#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
	transform: translatex(40%) scale(.8);
	opacity: .4;
	z-index: 0;
}
#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
	transform: translatex(0) scale(1);
	opacity: 1;
	z-index: 1;


}

img {
	box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}
=======
#logo {
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}

.burger {
	position: relative;
	width: 40px;
	height: 30px;
	background: transparent;
	cursor: pointer;
	display: block;
  }
  
  .burger input {
	display: none;
  }
  
  .burger span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: black;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
	top: 0px;
	transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
	top: 50%;
	transform: translateY(-50%);
	transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
	top: 100%;
	transform-origin: left center;
	transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
	transform: rotate(45deg);
	top: 0px;
	left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
	width: 0%;
	opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
	transform: rotate(-45deg);
	top: 28px;
	left: 5px;
  }
>>>>>>> Stashed changes
